/* 
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue

*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #a4c2d1;
} 

h1,
h2 {
    font-family: "DM Serif DIsplay", serif;
    color: #184f63;

}

.sharp-corners,
.sharp-corners * {
    border-radius: 0;
}

#about {
    background-color: white; 
}

#portfolio {
    background-color: #dbdcde; 
}

#portfolio .card-title {
    color: #1f7798;
    font-size: 1.2rem;
}

#portfolio .btn-outline-secondary:hover {
    background-color: #1f7798;
}

#portolio .card-text {
    min-height: 120px;
}

#contact {
    background-color: white;
}

#hero {
    background-color: white;
    background-image: url("../images/background.webp");
    background-size: cover;
    background-position: 50% 70%;
    min-height: 500px;
    padding: 5% 7%;
}


/* media queries */

@media screen and (min-width: 1200px) {
    #portfolo .card-text {
        min-height: auto;

    }
}

